* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
header {
  background: linear-gradient(rgb(0, 172, 149) 70%, white);
  display: flex;
  height: 15vh;
  padding: 2%;
  color: white;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
#salir {
  cursor: pointer;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1%;
}
.preguntas {
  text-align: center;
  width: 30%;
  background-color: rgb(192, 189, 189);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: 10%;
  border-radius: 5px;
  padding: 1%;
  box-shadow: 1px 1px 2px black;
}
.preguntas div {
  background-color: white;
  margin: 2px;
  text-align: center;
  border-radius: 4px;
}
.responder {
  height: 60vh;
  width: 70%;
  margin: 1% 20%;
  background-color: rgb(204, 203, 203);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 4%;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 1px 2px black;
}

.responder div {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.responder input {
  width: 30%;
  height: 5vh;
  border-radius: 25px;
  border: 2px solid rgb(0, 172, 149);
  text-align: center;
  font-size: 25px;
}
.botones {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
button {
  margin: 5px;
  width: 50px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid rgb(0, 172, 149);
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  background-color: rgb(0, 172, 149);
  color: white;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6% 20%;
  border-radius: 5px;
  box-shadow: 1px 1px 6px black;
}
.login-header {
  background-color: rgb(0, 172, 149);
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100%;
  justify-content: center;
}
.login-form input {
  text-align: center;
  height: 40px;
  margin-bottom: 4%;
  border: 1px solid rgb(0, 172, 149);
  border-radius: 20px;
}
#contador {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}
progress {
  width: 300px;
  margin: 1%;
  height: 20px;
}
.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6% 20%;
  border-radius: 5px;
  box-shadow: 1px 1px 6px black;
  padding: 1%;
}
.resultado div {
  width: 100%;
  margin: 2%;
  padding: 2%;
  border-radius: 25px;
  border: 2px solid gray;
}
.resultado span {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  nav {
    font-size: 120%;
  }
}
@media only screen and (max-width: 850px) {
  .resultado div {
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .resultado div {
    font-size: 12px;
  }
}
@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 120%;
  }
  progress {
    width: 200px;
  }
  .resultado div {
    font-size: 10px;
  }
}
